// @use "../../styles/" as *;
@use "../../../styles/" as *;

.reviews {
  .reviews__headertext {
    // text-align: center;
    padding: 20px 0 0 0;
    p {
      font-size: 18px;
    }
  }
  padding: 10px 40px;
  .reviews__card {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 40px 0;
  }
  .reviews__span {
    // text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px;
    .reviews__divborder {
      //   background-color: red;
      border: 1px solid #b1adad;
      border-radius: 50%;
      color: white;
      // width: 40px;
      padding: 1px;
      margin: 0 5px;
      font-size: 5px;
    }
    .reviews__divcol {
      background-color: #b1adad !important;
      border: 1px solid #b1adad;
      border-radius: 50%;
      color: #b1adad;
      padding: 1px;
      margin: 0 5px;
      font-size: 5px;
    }
  }
}

@include MinMax(330px, 768px) {
  .reviews {
    padding: 10px 40px;
    p {
      font-size: 18px;
    }
    .reviews__headertext {
      // text-align: center;
      padding: 20px 0 0 0;
    }
    .reviews__card {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin: 40px 0;
      flex-direction: column;
    }
  }
}
@include MinMax(0px, 320px) {
  .reviews {
    padding: 10px 40px;
    p {
      font-size: 18px;
    }
    .reviews__headertext {
      // text-align: center;
      padding: 20px 0 0 0;
    }
    .reviews__card {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin: 40px 0;
      flex-direction: column;
    }
  }
}
