// @use "../../index" as *;
// @use "./normalize";

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  font-size: 16px;

  // @include maxQ(1400px) {
  //   font-size: 15px;
  // }

  // @include maxQ(992px) {
  //   font-size: 14px;
  // }
}

a {
  text-decoration: none;
}

a,
button {
  cursor: pointer;
}

ul,
li {
  list-style-type: none;
}

img {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color: color(redbase);
}
::-webkit-scrollbar-thumb {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color: color(ash);
}

@include MinMax(330px, 768px) {
  p {
    font-size: 16px;
  }
}
